<div class="header">
  <!-- Header judul menu -->
  <h2>Pengajuan Baru > Pengajuan LS Barang dan Jasa</h2>
</div>

<div class="divider"></div>

<div class="content">
  <!-- Isi konten -->
  <table class="dokumen-table">
    <thead>
      <tr>
        <th class="nama-dokumen">Nama Dokumen</th>
        <th class="action">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="nama-dokumen">SPM</td>
        <td class="action">
          <button class="btn-action" (click)="viewDocument('SPM')" [disabled]="!services.uploadDocumentEditSPM.docId">
            <mat-icon>visibility</mat-icon>
          </button>
          <button class="btn-action" (click)="fileInputSPM.click()">
            <mat-icon>upload</mat-icon>
          </button>
          <input type="file" #fileInputSPM hidden (change)="uploadDocument($event, 'SPM')">
          <span *ngIf="services.uploadDocumentEditSPM.filename" class="file-name">{{ services.uploadDocumentEditSPM.filename }}</span>
        </td>
      </tr>
      <tr>
        <td class="nama-dokumen">Surat Permintaan Pembayaran</td>
        <td class="action">
          <button class="btn-action" (click)="viewDocument('SPP')" [disabled]="!services.uploadDocumentEditSPP.docId">
            <mat-icon>visibility</mat-icon>
          </button>
          <button class="btn-action" (click)="fileInputSPP.click()">
            <mat-icon>upload</mat-icon>
          </button>
          <input type="file" #fileInputSPP hidden (change)="uploadDocument($event, 'SPP')">
          <span *ngIf="services.uploadDocumentEditSPP.filename" class="file-name">{{ services.uploadDocumentEditSPP.filename }}</span>
        </td>
      </tr>
      <tr>
        <td class="nama-dokumen">Rincian SPP</td>
        <td class="action">
          <button class="btn-action" (click)="viewDocument('RSPP')" [disabled]="!services.uploadDocumentEditRSPP.docId">
            <mat-icon>visibility</mat-icon>
          </button>
          <button class="btn-action" (click)="fileInputRSPP.click()">
            <mat-icon>upload</mat-icon>
          </button>
          <input type="file" #fileInputRSPP hidden (change)="uploadDocument($event, 'RSPP')">
          <span *ngIf="services.uploadDocumentEditRSPP.filename" class="file-name">{{ services.uploadDocumentEditRSPP.filename }}</span>
        </td>
      </tr>
      <tr>
        <td class="nama-dokumen">Salinan SPD</td>
        <td class="action">
          <button class="btn-action" (click)="viewDocument('SSPD')" [disabled]="!services.uploadDocumentEditSSPD.docId">
            <mat-icon>visibility</mat-icon>
          </button>
          <button class="btn-action" (click)="fileInputSSPD.click()">
            <mat-icon>upload</mat-icon>
          </button>
          <input type="file" #fileInputSSPD hidden (change)="uploadDocument($event, 'SSPD')">
          <span *ngIf="services.uploadDocumentEditSSPD.filename" class="file-name">{{ services.uploadDocumentEditSSPD.filename }}</span>
        </td>
      </tr>
      <tr>
        <td class="nama-dokumen">Surat Pernyataan Pertanggungjawaban Mutlak</td>
        <td class="action">
          <button class="btn-action" (click)="viewDocument('SPPM')" [disabled]="!services.uploadDocumentEditSPPM.docId">
            <mat-icon>visibility</mat-icon>
          </button>
          <button class="btn-action" (click)="fileInputSPPM.click()">
            <mat-icon>upload</mat-icon>
          </button>
          <input type="file" #fileInputSPPM hidden (change)="uploadDocument($event, 'SPPM')">
          <span *ngIf="services.uploadDocumentEditSPPM.filename" class="file-name">{{ services.uploadDocumentEditSPPM.filename }}</span>
        </td>
      </tr>
      <tr>
        <td class="nama-dokumen">Surat Pernyataan Verifikasi</td>
        <td class="action">
          <button class="btn-action" (click)="viewDocument('SPVER')" [disabled]="!services.uploadDocumentEditSPVER.docId">
            <mat-icon>visibility</mat-icon>
          </button>
          <button class="btn-action" (click)="fileInputSPVER.click()">
            <mat-icon>upload</mat-icon>
          </button>
          <input type="file" #fileInputSPVER hidden (change)="uploadDocument($event, 'SPVER')">
          <span *ngIf="services.uploadDocumentEditSPVER.filename" class="file-name">{{ services.uploadDocumentEditSPVER.filename }}</span>
        </td>
      </tr>
      <tr>
        <td class="nama-dokumen">Ringkasan Kontrak atau Dokumen Lain yang Dipersamakan</td>
        <td class="action">
          <button class="btn-action" (click)="viewDocument('RKBAD')" [disabled]="!services.uploadDocumentEditRKBAD.docId">
            <mat-icon>visibility</mat-icon>
          </button>
          <button class="btn-action" (click)="fileInputRKBAD.click()">
            <mat-icon>upload</mat-icon>
          </button>
          <input type="file" #fileInputRKBAD hidden (change)="uploadDocument($event, 'RKBAD')">
          <span *ngIf="services.uploadDocumentEditRKBAD.filename" class="file-name">{{ services.uploadDocumentEditRKBAD.filename }}</span>
        </td>
      </tr>
      <tr>
        <td class="nama-dokumen">Salinan / DPA / DPPA Atas Kegiatan Terkait</td>
        <td class="action">
          <button class="btn-action" (click)="viewDocument('SDDAKT')" [disabled]="!services.uploadDocumentEditSDDAKT.docId">
            <mat-icon>visibility</mat-icon>
          </button>
          <button class="btn-action" (click)="fileInputSDDAKT.click()">
            <mat-icon>upload</mat-icon>
          </button>
          <input type="file" #fileInputSDDAKT hidden (change)="uploadDocument($event, 'SDDAKT')">
          <span *ngIf="services.uploadDocumentEditSDDAKT.filename" class="file-name">{{ services.uploadDocumentEditSDDAKT.filename }}</span>
        </td>
      </tr>
      <tr>
        <td class="nama-dokumen">SPP Potongan Pajak KASDA / Cetakan E-Billing</td>
        <td class="action">
          <button class="btn-action" (click)="viewDocument('SPPKCE')" [disabled]="!services.uploadDocumentEditSPPKCE.docId">
            <mat-icon>visibility</mat-icon>
          </button>
          <button class="btn-action" (click)="fileInputSPPKCE.click()">
            <mat-icon>upload</mat-icon>
          </button>
          <input type="file" #fileInputSPPKCE hidden (change)="uploadDocument($event, 'SPPKCE')">
          <span *ngIf="services.uploadDocumentEditSPPKCE.filename" class="file-name">{{ services.uploadDocumentEditSPPKCE.filename }}</span>
        </td>
      </tr>
      <tr>
        <td class="nama-dokumen">Salinan Referensi Bank Tahun Berjalan</td>
        <td class="action">
          <button class="btn-action" (click)="viewDocument('SRBTB')" [disabled]="!services.uploadDocumentEditSRBTB.docId">
            <mat-icon>visibility</mat-icon>
          </button>
          <button class="btn-action" (click)="fileInputSRBTB.click()">
            <mat-icon>upload</mat-icon>
          </button>
          <input type="file" #fileInputSRBTB hidden (change)="uploadDocument($event, 'SRBTB')">
          <span *ngIf="services.uploadDocumentEditSRBTB.filename" class="file-name">{{ services.uploadDocumentEditSRBTB.filename }}</span>
        </td>
      </tr>
      <tr>
        <td class="nama-dokumen">Salinan NPWP</td>
        <td class="action">
          <button class="btn-action" (click)="viewDocument('SNPWP')" [disabled]="!services.uploadDocumentEditSNPWP.docId">
            <mat-icon>visibility</mat-icon>
          </button>
          <button class="btn-action" (click)="fileInputSNPWP.click()">
            <mat-icon>upload</mat-icon>
          </button>
          <input type="file" #fileInputSNPWP hidden (change)="uploadDocument($event, 'SNPWP')">
          <span *ngIf="services.uploadDocumentEditSNPWP.filename" class="file-name">{{ services.uploadDocumentEditSNPWP.filename }}</span>
        </td>
      </tr>
      <tr>
        <td class="nama-dokumen">Berita Acara Serah Terima Barang / Jasa Dari Penyedia</td>
        <td class="action">
          <button class="btn-action" (click)="viewDocument('BASTB')" [disabled]="!services.uploadDocumentEditBASTB.docId">
            <mat-icon>visibility</mat-icon>
          </button>
          <button class="btn-action" (click)="fileInputBASTB.click()">
            <mat-icon>upload</mat-icon>
          </button>
          <input type="file" #fileInputBASTB hidden (change)="uploadDocument($event, 'BASTB')">
          <span *ngIf="services.uploadDocumentEditBASTB.filename" class="file-name">{{ services.uploadDocumentEditBASTB.filename }}</span>
        </td>
      </tr>
      <tr>
        <td class="nama-dokumen">Berita Acara Pembayaran</td>
        <td class="action">
          <button class="btn-action" (click)="viewDocument('BAPEM')" [disabled]="!services.uploadDocumentEditBAPEM.docId">
            <mat-icon>visibility</mat-icon>
          </button>
          <button class="btn-action" (click)="fileInputBAPEM.click()">
            <mat-icon>upload</mat-icon>
          </button>
          <input type="file" #fileInputBAPEM hidden (change)="uploadDocument($event, 'BAPEM')">
          <span *ngIf="services.uploadDocumentEditBAPEM.filename" class="file-name">{{ services.uploadDocumentEditBAPEM.filename }}</span>
        </td>
      </tr>
      <tr>
        <td class="nama-dokumen">Jaminan Uang Muka / Jaminan Pelaksana / Jaminan Pemeliharaan 100%</td>
        <td class="action">
          <button class="btn-action" (click)="viewDocument('JUMJM')" [disabled]="!services.uploadDocumentEditJUMJM.docId">
            <mat-icon>visibility</mat-icon>
          </button>
          <button class="btn-action" (click)="fileInputJUMJM.click()">
            <mat-icon>upload</mat-icon>
          </button>
          <input type="file" #fileInputJUMJM hidden (change)="uploadDocument($event, 'JUMJM')">
          <span *ngIf="services.uploadDocumentEditJUMJM.filename" class="file-name">{{ services.uploadDocumentEditJUMJM.filename }}</span>
        </td>
      </tr>
      <!-- Tambahkan baris lain sesuai kebutuhan -->
    </tbody>
  </table>

  <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff" type="ball-spin-clockwise">
    <p style="color: white">Uploading...</p>
  </ngx-spinner>

  <!-- Tombol Ajukan Permohonan -->
  <div class="ajukan-permohonan">
    <button class="btn-ajukan-permohonan" (click)="submit()">Ajukan Permohonan</button>
  </div>

</div>