<div class="header">
    <!-- Header judul menu -->
    <h2>Pengajuan Baru > Pengajuan Belanja Tidak Terduga</h2>
  </div>
  
  <div class="divider"></div>
  
  <div class="content">
    <!-- Isi konten -->
    <table class="dokumen-table">
      <thead>
        <tr>
          <th class="nama-dokumen">Nama Dokumen</th>
          <th class="action">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="nama-dokumen">SPM</td>
          <td class="action">
            <button class="btn-action" (click)="viewDocument('SPM')">
              <mat-icon>visibility</mat-icon>
            </button>
            <button class="btn-action" (click)="fileInputSPM.click()">
              <mat-icon>upload</mat-icon>
            </button>
            <input type="file" #fileInputSPM hidden (change)="uploadDocument($event, 'SPM')">
          </td>
        </tr>
        <tr>
          <td class="nama-dokumen">Surat Permintaan Pembayaran</td>
          <td class="action">
            <button class="btn-action" (click)="viewDocument('SPP')">
              <mat-icon>visibility</mat-icon>
            </button>
            <button class="btn-action" (click)="fileInputSPP.click()">
              <mat-icon>upload</mat-icon>
            </button>
            <input type="file" #fileInputSPP hidden (change)="uploadDocument($event, 'SPP')">
          </td>
        </tr>
        <tr>
          <td class="nama-dokumen">Rincian SPP</td>
          <td class="action">
            <button class="btn-action" (click)="viewDocument('RSPP')">
              <mat-icon>visibility</mat-icon>
            </button>
            <button class="btn-action" (click)="fileInputRSPP.click()">
              <mat-icon>upload</mat-icon>
            </button>
            <input type="file" #fileInputRSPP hidden (change)="uploadDocument($event, 'RSPP')">
          </td>
        </tr>
        <tr>
          <td class="nama-dokumen">Salinan SPD</td>
          <td class="action">
            <button class="btn-action" (click)="viewDocument('SSPD')">
              <mat-icon>visibility</mat-icon>
            </button>
            <button class="btn-action" (click)="fileInputSSPD.click()">
              <mat-icon>upload</mat-icon>
            </button>
            <input type="file" #fileInputSSPD hidden (change)="uploadDocument($event, 'SSPD')">
          </td>
        </tr>
        <tr>
          <td class="nama-dokumen">Surat Pernyataan Pertanggungjawaban Mutlak</td>
          <td class="action">
            <button class="btn-action" (click)="viewDocument('SPPM')">
              <mat-icon>visibility</mat-icon>
            </button>
            <button class="btn-action" (click)="fileInputSPPM.click()">
              <mat-icon>upload</mat-icon>
            </button>
            <input type="file" #fileInputSPPM hidden (change)="uploadDocument($event, 'SPPM')">
          </td>
        </tr>
        <tr>
          <td class="nama-dokumen">Surat Pernyataan Verifikasi Oleh PPK SKPD/ PPK Unit SKPD</td>
          <td class="action">
            <button class="btn-action" (click)="viewDocument('SPVOP')">
              <mat-icon>visibility</mat-icon>
            </button>
            <button class="btn-action" (click)="fileInputSPVOP.click()">
              <mat-icon>upload</mat-icon>
            </button>
            <input type="file" #fileInputSPVOP hidden (change)="uploadDocument($event, 'SPVOP')">
          </td>
        </tr>
        <tr>
          <td class="nama-dokumen">Checklist Kelengkapan Dokumen dari SKPD</td>
          <td class="action">
            <button class="btn-action" (click)="viewDocument('CKDDS')">
              <mat-icon>visibility</mat-icon>
            </button>
            <button class="btn-action" (click)="fileInputCKDDS.click()">
              <mat-icon>upload</mat-icon>
            </button>
            <input type="file" #fileInputCKDDS hidden (change)="uploadDocument($event, 'CKDDS')">
          </td>
        </tr>
        <tr>
          <td class="nama-dokumen">Salinan / DPA / DPPA Atas Kegiatan Terkait</td>
          <td class="action">
            <button class="btn-action" (click)="viewDocument('SDDAKT')">
              <mat-icon>visibility</mat-icon>
            </button>
            <button class="btn-action" (click)="fileInputSDDAKT.click()">
              <mat-icon>upload</mat-icon>
            </button>
            <input type="file" #fileInputSDDAKT hidden (change)="uploadDocument($event, 'SDDAKT')">
          </td>
        </tr>
        <tr>
          <td class="nama-dokumen">Salinan Referensi Bank</td>
          <td class="action">
            <button class="btn-action" (click)="viewDocument('SRB')">
              <mat-icon>visibility</mat-icon>
            </button>
            <button class="btn-action" (click)="fileInputSRB.click()">
              <mat-icon>upload</mat-icon>
            </button>
            <input type="file" #fileInputSRB hidden (change)="uploadDocument($event, 'SRB')">
          </td>
        </tr>
        <tr>
          <td class="nama-dokumen">Rincian Kebutuhan Belanja atau Dokumen lain yang Dipersamakan</td>
          <td class="action">
            <button class="btn-action" (click)="viewDocument('RKBAD')">
              <mat-icon>visibility</mat-icon>
            </button>
            <button class="btn-action" (click)="fileInputRKBAD.click()">
              <mat-icon>upload</mat-icon>
            </button>
            <input type="file" #fileInputRKBAD hidden (change)="uploadDocument($event, 'RKBAD')">
          </td>
        </tr>        
      </tbody>
    </table>

    <!-- Tombol Ajukan Permohonan -->
    <div class="ajukan-permohonan">
      <button class="btn-ajukan-permohonan" (click)="submit()">Ajukan Permohonan</button>
    </div>
  
  </div>
  