<div class="header">
    <!-- Header judul menu -->
    <h2>Pengajuan Baru</h2>
  </div>
  
  <div class="divider"></div>
  
  <div class="content">
    <!-- Isi konten -->
    <div class="button-row">
        <button mat-raised-button class="button-gu" (click)="goToPage('/pengajuan/gu')">GU<br>Ganti Uang</button>
        <button mat-raised-button class="button-btt" (click)="goToPage('/pengajuan/btt')">BTT<br>Belanja Tidak Terduga</button>
        <button mat-raised-button class="button-add" (click)="goToPage('/pengajuan/add')">ADD / DD / DBH</button>
      </div>
      <div class="button-row">
        <button mat-raised-button class="button-bl" (click)="goToPage('/pengajuan/bl')">Belanja Langsung<br>Gaji/TPP/Gaji 13 & 14</button>
        <button mat-raised-button class="button-tu" (click)="goToPage('/pengajuan/tu')">TU<br>Tambahan Uang</button>
        <button mat-raised-button class="button-ls" (click)="goToPage('/pengajuan/ls')">LS<br>Barang dan Jasa</button>
      </div>
  </div>