<div class="header">
  <!-- Header judul menu -->
  <h2>Pengajuan Baru</h2>
</div>

<div class="divider"></div>

<div class="content">
  <!-- Isi konten -->
  <div class="button-row">
    <button mat-raised-button class="button-gu" (click)="goToPage('/pengajuan/gu')">
      <mat-icon class="button-icon">library_books</mat-icon>
      <br>GU<br>Ganti Uang
    </button>
    <button mat-raised-button class="button-btt" (click)="goToPage('/pengajuan/btt')">
      <mat-icon class="button-icon">library_books</mat-icon>
      <br>BTT<br>Belanja Tidak Terduga
    </button>
    <button mat-raised-button class="button-add" (click)="goToPage('/pengajuan/add')">
      <mat-icon class="button-icon">library_books</mat-icon>
      <br>ADD / DD / DBH
    </button>
  </div>
  <div class="button-row">
    <button mat-raised-button class="button-bl" (click)="goToPage('/pengajuan/bl')">
      <mat-icon class="button-icon">library_books</mat-icon>
      <br>Belanja Langsung<br>Gaji/TPP/Gaji 13 & 14
    </button>
    <button mat-raised-button class="button-tu" (click)="goToPage('/pengajuan/tu')">
      <mat-icon class="button-icon">library_books</mat-icon>
      <br>TU<br>Tambahan Uang
    </button>
    <button mat-raised-button class="button-ls" (click)="goToPage('/pengajuan/ls')">
      <mat-icon class="button-icon">library_books</mat-icon>
      <br>LS<br>Barang dan Jasa
    </button>
  </div>
</div>
